body {
  font-size: 16pt;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin: 0 auto;
  width: 500px;
}

.sof-field-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* align-items: center; */
}
input,
label,
.MuiFormControl-root {
  display: block;
  width: 100%;
}

ul {
   padding:0;
}
ul li {
  list-style-type: none;
  padding: .25rem 0;

}